@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:  0;
    padding: 0;
}

:root{
    --cor--primaria: #FDE5EC;
    --cor--secundaria: #FCBAAD;
    --cor--terciaria: #E48586;
    --cor--quarternaria: #916DB3;
    --cor--quinternaria: #FFFFFF;

    --fonte--texto: "Montserrat", sans-serif;
}

.body{
    background-color: var(--cor--primaria);
    font-family: var(--fonte--texto);
    height: 100vh;
}


.menu__conteiner{
    padding: 1px 0% 0% 3%;
    width: 100px;
    display: flex;
    justify-content: center;
}

.menu__conteiner__topo{
    display: flex;
    justify-content: space-between; 
    padding: 0% 4% 0% 0%;
} 

/* MENU SUPERIOR */
.first{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: var(--fonte--texto);
    padding-left: 14%;
}

 .icon{  
    margin: 10px;
    
}

.icon__next{
    font-size: 21px;
    color: var(--cor--quarternaria);
    font-family: var(--fonte--texto);
    font-weight: 500;
    background-color: var(--cor--quinternaria);
    padding: 13px;
    border-radius: 40px;
    cursor: default;
    align-self: center;
    
}

.menu__inicial{
    display: flex;
}

.menu__inicial__list{
    display: flex;
    gap: 20px;
    background-color: var(--cor--quinternaria);
    padding: 20px;
    border-radius: 40px;
    font-weight: 500;
    box-shadow: 5px 6px 4px 2px var(--cor--terciaria);
   
}

#sobremim, #skills:hover{
    background-color: var(--cor--primaria);
}

ul, li{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--cor--quarternaria)
}

/* MENU LATERAL */
.menu__inicial__lateral{
    background-color: var(--cor--quinternaria);
    width: 200px;
    height: 100%;
    padding: 1px 0px 10px 1%;
    position: fixed;
    
}

.menu__lateral{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 3px 0 0 var(--cor--terciaria);
    height: 100%;
    gap: 15px;  
}

.menu__list__icon{
    font-size: 35px;
    list-style-type: none;
    color: var(--cor--quarternaria);
    display: flex;
    flex-direction: column;  
}

.menu__list__icon:hover{
    background-color: var(--cor--primaria);
}
.menu__list__icon{
    transition: .2s;
}

.txt-link{
    font-size: 20px;
    align-self: center;
    
}





/* SOBRE MIM */

.principal{
    padding-left:7%;
    margin-top: 12px;
}
.conteiner__apresentacao{
    padding: 7px 0 5% 7%;
}

.titulo{
    width: 1440px;
    height: 30%;
    font-size: 30px;
    color:#575656;
}

.titulo__paragrafo{
    font-size: 22px;
    font-weight: 400;
    line-height: 25.83px;
    text-align: left;
    color: #31363F;

}

.conteiner__sobremim{
    margin-left: 4%; 
    background-color: var(--cor--terciaria);
    padding: 3%;
    
}

.sobremim{
    width: 1440px;
    height: 30%;
    font-size: 30px;
    color:#575656; 

}

.sobremim__paragrafo{
    font-size: 22px;
    font-weight: 400;
    line-height: 25.83px;
    text-align: left;
    color: #31363F; 
    padding: 3% 0 0 ;
}

/* SKILLS */

.conteiner__skills{
    margin-left: 7%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.skills{
    width: 1440px;
    height: 30%;
    font-size: 30px;
    color:#575656;
    padding-bottom: 5%;
}

.parte3{
    display: flex;
    gap: 9%;
    justify-content: space-around;
    padding-right: 1%;
}

.icon2{
    display: flex;
    font-size: 35px;
    color: var(--cor--quarternaria);
    justify-content: center;
    
}

.txt-link2{
    font-size: 15px;
    display: flex;
    justify-content: center;
}

.skills__html{
    background-color: var(--cor--quinternaria);
    padding: 5%;
    border-radius: 10px;
    border-style: solid;
    border-color: var(--cor--terciaria);
    font-weight: 700;
    
}

.skills__css{
    background-color: var(--cor--quinternaria);
    padding: 5%;
    border-radius: 10px;
    border-style: solid;
    border-color: var(--cor--terciaria);
    font-weight: 700;
}

.skills__js{
    background-color: var(--cor--quinternaria);
    padding: 4% ;
    border-radius: 10px;
    border-style: solid;
    border-color: var(--cor--terciaria);
    font-weight: 700;
}

.skills__bootstrap{
    background-color: var(--cor--quinternaria);
    padding: 4%;
    border-radius: 10px;
    border-style: solid;
    border-color: var(--cor--terciaria);
    font-weight: 700;
}

.skills__node{
    background-color: var(--cor--quinternaria);
    padding: 4%;
    border-radius: 10px;
    border-style: solid;
    border-color: var(--cor--terciaria);
    font-weight: 700;
}


/* FORMACAO ACDEMICA */
.conteiner__formacao{
    margin-left: 4%; 
    background-color: var(--cor--terciaria);
    padding: 3%;
}

.formacao__titulo{
    width: 1440px;
    height: 30%;
    font-size: 30px;
    color:#575656;
}

.formacao__imagens{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.formacao__imagem__titulo{
    display: flex;
    gap: 15px;
    font-size: 18px;
    color:var(--cor--quinternaria);
    justify-content: center
}

.formacao__imagem__paragrafo{
    color: var(--cor--quarternaria);
    font-weight: 700;
    display: flex;
    justify-content: center;
}

.img_width{
    width: 110%;
}

.img_width1{
    width: 65%;
}

/* EXPERIENCIA */
.conteiner__xp{
    margin-left: 4%; 
    padding: 3%;
}
.titulo__xp{
    width: 1440px;
    height: 30%;
    font-size: 30px;
    color:#575656;
    padding-bottom:3%;    
}

.project{
    display: flex;
    justify-content: space-around;
}

.project__img{
    width: 700px;
    border: 5px solid var(--cor--terciaria);
    border-radius: 16px;
    box-shadow: 12px 12px 0 var(--cor--quinternaria);
} 

.text__description__one{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--cor--quarternaria);
    justify-content: center;
   
}

.btns{
    display: flex;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 10%;
    
}

.repositories, .demo{
    background-color: var(--cor--terciaria);
    display: flex;
    justify-content: center;
    gap: 16px;
    cursor: pointer;
    background-color: var(--cor--terciaria);
    border: 5px solid var(--cor--quinternaria);
    width: 150px;
    text-align: center;
    border-radius: 16px;
    font-size: 1,5rem;
    font-weight: 600;
    padding: 21.5px 0;
    color: var(--cor--quinternaria);
    text-decoration: none;
    font-family: var(--fonte--texto);
    box-shadow: 5px 5px 0 var(--cor--terciaria);
}

.project2{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}

.project__img2{
    width: 600px;
    border: 5px solid var(--cor--terciaria);
    border-radius: 16px;
    box-shadow: 12px 12px 0 var(--cor--quinternaria); 
    margin-bottom: 6%;
}

